<collapse-div>


</collapse-div>

<collapse-div name="stateParams">
    <span>Test stateParams: {{params}}</span>
</collapse-div>


<collapse-div name="Service">
    <span>Test Service: <button ng-click="testServ()">3 time</button></span>
</collapse-div>

<collapse-div name="directive">
        <span>Test custom directive:
            <login ng-click="login()"></login>
            <shang-yu name="shang" age="25">
                <qiu-shi num="3"></qiu-shi>
                <qiu-shi num="5"></qiu-shi>
                <mo-jie num="4"></mo-jie>
            </shang-yu>
            <my-tabs>
                <my-pane title="Hello">
                    <p>I am content1</p>
                </my-pane>
                <my-pane title="World">
                    <p>I am content2</p>
                    <p><a href="#" ng-click="i = i + 1">counter: {{i || 0}}</a></p>
                </my-pane>
            </my-tabs>
        </span>
</collapse-div>

<collapse-div name="calendar">
    <div id='calendar'></div>
</collapse-div>