<collapse-div name="Internationalization">
    <h1>{{ 'TITLE' | translate }}</h1>
    <p>{{ 'PARA' | translate }}</p>
    <button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN"></button>
    <button ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE"></button>
</collapse-div>


<collapse-div name="testInjector">
    <button ng-click="doSomething()">increment</button>
    {{value()}}
</collapse-div>

<collapse-div name="stateParams">
    <span>Test stateParams: {{params}}</span>
</collapse-div>

<collapse-div name="Service">
    <span>Test Service: <button ng-click="testServ()">3 time</button></span>
    <span>Test $locale: {{testLocale}}</span>
</collapse-div>

<collapse-div name="directive">
        <span>Test custom directive:
            <login ng-click="login()"></login>
            <shang-yu name="shang" age="25">
                <qiu-shi num="3"></qiu-shi>
                <qiu-shi num="5"></qiu-shi>
                <mo-jie num="4"></mo-jie>
            </shang-yu>
            <my-tabs>
                <my-pane title="Hello">
                    <p>I am content1</p>
                </my-pane>
                <my-pane title="World">
                    <p>I am content2</p>
                    <p><a href="#" ng-click="i = i + 1">counter: {{i || 0}}</a></p>
                </my-pane>
            </my-tabs>
        </span>
</collapse-div>

<collapse-div name="testTable">
    <table class="table table-hover table-bordered">
        <thead>

        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>2</td>
        </tr>
        <tr>
            <td>2 row</td>
            <td>2 row</td>
        </tr>
        </tbody>
    </table>


</collapse-div>